[submodule "src/ts/Unified/micromark-extension-emphasis-factory"]
	path = src/ts/Unified/micromark-extension-emphasis-factory
	url = https://github.com/TRIAEIOU/micromark-extension-emphasis-factory
[submodule "src/ts/Unfied/mdast-hast-extension-emphasis-factory"]
	path = src/ts/Unified/mdast-hast-extension-emphasis-factory
	url = https://github.com/TRIAEIOU/mdast-hast-extension-emphasis-factory
[submodule "src/ts/Unfied/micromark-extension-extended-table"]
	path = src/ts/Unified/micromark-extension-extended-table
	url = https://github.com/TRIAEIOU/micromark-extension-extended-table
[submodule "src/ts/Unified/mdast-hast-extension-extended-table"]
	path = src/ts/Unified/mdast-hast-extension-extended-table
	url = https://github.com/TRIAEIOU/mdast-hast-extension-extended-table
[submodule "src/ts/Unfied/micromark"]
	path = src/ts/Unfied/micromark
	url = https://github.com/TRIAEIOU/micromark
	branch = noNonRenderedNewlines
