[submodule "src/ts/Unified/micromark"]
	path = src/ts/Unified/micromark
	url = https://github.com/TRIAEIOU/micromark
	branch = noNonRenderedNewlines
[submodule "src/ts/Unified/mdast-hast-extension-extended-table"]
	path = src/ts/Unified/mdast-hast-extension-extended-table
	url = https://github.com/TRIAEIOU/mdast-hast-extension-extended-table
[submodule "src/ts/Unified/mdast-hast-extension-emphasis-factory"]
	path = src/ts/Unified/mdast-hast-extension-emphasis-factory
	url = https://github.com/TRIAEIOU/mdast-hast-extension-emphasis-factory
[submodule "src/ts/Unified/mdast-util-definition-list"]
	path = src/ts/Unified/mdast-util-definition-list
	url = https://github.com/TRIAEIOU/mdast-util-definition-list
	branch = phrasing-description-handler
[submodule "src/ts/Unified/hast-util-definition-list"]
	path = src/ts/Unified/hast-util-definition-list
	url = https://github.com/TRIAEIOU/hast-util-definition-list
[submodule "src/ts/Unified/hast-util-to-mdast"]
	path = src/ts/Unified/hast-util-to-mdast
	url = https://github.com/TRIAEIOU/hast-util-to-mdast
	branch = hast-util-phrasing
[submodule "src/ts/Unified/mdast-util-to-hast"]
	path = src/ts/Unified/mdast-util-to-hast
	url = https://github.com/TRIAEIOU/mdast-util-to-hast
	branch = optional-newlines
