div.markdown-input.hidden {
    display: none;
}

div.cm-editor {
    height: 100%;
}

.cm-scroller {
    overflow: auto;
}

div.markdown-input:not([hidden]) ~ div.rich-text-input {
    padding-top: 5px;
    border-top: 5px double var(--faint-border);
}

